__pycache__/*
node_modules/*
web/static/*
/music/*
/intros/*
/jingles/*
venv/*
*.wav
*.mp3
*.m4a
.env.*
.DS_Store
ai_dj_intro.mp3
combined_intro.mp3
output_intro.mp3
output_intro_example.mp3
docker-compose.local.yml